/*
=============== 
Stripe Styles
===============
*/

.nav-center {
  width: 90vw;
  max-width: var(--max-width);
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btt01 {
  margin-left: 2em;
  border: #d2a03f 0.1px solid;
  border-radius: 2em;
  background: transparent;
  color: white;
  padding: 0.25rem 0.75rem;
  cursor: pointer;
}
.btn:hover {
  background: var(--clr-grey-5);
}
.nav-links {
  display: none;
}
.signin-btn {
  display: none;
}

/* nav media query */
@media screen and (min-width: 800px) {
  .nav-center {
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
  }
  .toggle-btn {
    display: none;
  }
  .signin-btn {
    display: inline-block;
  }
  .nav-links {
    display: block;
    justify-items: center;
    justify-self: center;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    text-align: center;
    height: 100%;
    display: grid;
    align-items: center;
  }
  .nav-links li {
    height: 100%;
  }
  .link-btn {
    height: 100%;
    background: transparent;
    border-color: transparent;
    font-size: 1.1rem;
    color: white;
    text-transform: capitalize;
    letter-spacing: 1px;
    width: 10rem;
  }
}

/* sidebar */
.sidebar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  visibility: hidden;
  z-index: -999;
  transition: var(--transition);
  transform: scale(0);
  background: rgba(0, 0, 0, 0.5);
}
.sidebar-wrapper.show {
  visibility: visible;
  z-index: 2;
  transform: scale(1);
}
.sidebar {
  width: 90vw;
  height: 100vh;
  max-width: var(--fixed-width);
  background: var(--clr-white);
  border-radius: var(--radius);
  box-shadow: var(--dark-shadow);
  position: relative;
  padding: 2rem 2rem;
}
.close-btn {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-grey-5);
  position: absolute;
  top: 0.2rem;
  right: 1rem;
  cursor: pointer;
}
.sidebar article {
  margin-bottom: 2rem;
}
.sidebar-sublinks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.25rem;
}
.sidebar-sublinks a {
  display: block;
  color: hsl(205, 78%, 60%);
  text-transform: capitalize;
}
.sidebar-sublinks i {
  color: var(--clr-grey-5);
  margin-right: 1rem;
}

@media screen and (min-width: 800px) {
  .sidebar-wrapper {
    display: none;
  }
}

/* links */
.submenu {
  background: var(--clr-white);
  box-shadow: var(--dark-shadow);
  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  display: none;
  padding: 2rem;
  border-radius: var(--radius);
}
.submenu::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid var(--clr-white);
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.submenu.show {
  display: block;
}

.submenu-center {
  display: grid;
  gap: 0.25rem 2rem;
}
.col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.col-3 {
  grid-template-columns: repeat(3, 1fr);
}
.col-4 {
  grid-template-columns: repeat(4, 1fr);
}
.submenu h4 {
  margin-bottom: 1.5rem;
}
.submenu-center a {
  width: 10rem;
  display: block;
  color: var(--clr-grey-1);
  text-transform: capitalize;
}
.submenu-center i {
  color: var(--clr-grey-5);
  margin-right: 1rem;
}

.mtable-sec {
  padding: 75px 5px 2em 5px;
  margin: 0;
}

@media screen and (min-width: 800px) {
  .mtable-sec {
    padding: 2em 4em;
  }
}

.span {
  display: block;
  font-weight: 700;
}

.my_tab_link {
  text-decoration: none !important;
  font-weight: 700;
}
.table_title {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}
.table_head {
  color: #2c84ef;
  background-color: black;
  font-weight: 700;
  border-top: none !important;
}

td div {
  text-align: center;
}
tbody {
  background-color: #171a23;
  font-weight: 700;
  color: #fff !important;
}
tr:hover {
  background-color: #232838 !important;
  color: #fff !important;
  opacity: 0.8 !important;
}

.table_head1 {
  font-weight: 700;
}
.t_head {
  padding: 0.8em 0.5em;
}
.even {
  font-weight: 400;
  font-size: 0.9em;
  padding: 2em 0.5em;
  color: #fff;
}

.confirm__page {
  position: fixed;
  background: #034389;
  color: #fff;
  bottom: 0px;
  right: 0px;
  z-index: 100;
  transform: translate(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.confirm_bdy {
  padding: 1em 2em;
}

.confirm_show {
  transform: translate(0%);
}

.pop__btnn {
  background-color: #034389;
  padding: 0.5em 0.7em;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
  font-size: 0.8em;
  border-color: #fff;
  transition: transform 150ms ease-in-out;
  cursor: pointer;
}

.pop__btnn:hover {
  transform: scale(1.1);
}

.dive_btnn {
  display: flex;
  justify-content: space-between;
}

.error {
  font-size: 0.7em;
  color: rgb(194, 72, 72);
}
